<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Sections declarations, any other than startup or appSettings-->
    <section name="ConfFiles" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <!-- VisualStudio Compiler Stuff -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!-- AppDef=Disabled(0); Main(1); Backup Slaves(2-4);-->
    <add key="AppDef" value="1" />
    <!-- RealTime Base Loop Cycle in ms-->
    <add key="RTBaseLoop" value="500" />
    <!-- InitialSet Commisioning mark to initialize the Application and Database-->
    <add key="InitialSet" value="True" />
    <!-- Enable the historics capabilities of the application-->
    <add key="HistoricsEn" value="True" />
    <!-- For future use-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <ConfFiles>
    <!-- Path for Driver and Database(DB) Conf File-->
    <add key="ConfFolder" value="ConfigFiles" />
    <add key="DriverConf" value="DriverComm.config" />
    <add key="DBConf" value="DB.config" />
  </ConfFiles>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>