<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Sections declarations, any other than startup or appSettings -->
    <section name="ServerMain" type="DriverCommApp.Conf.DB.ServerSect, DriverComm" />
    <section name="ServerBackup" type="DriverCommApp.Conf.DB.ServerSect, DriverComm" />
    <section name="HistoricsMaster" type="DriverCommApp.Conf.DB.HistoricsSett, DriverComm" />
    <section name="HistoricsBackup" type="DriverCommApp.Conf.DB.HistoricsSett, DriverComm" />
  </configSections>
  <!--  Server Type: MySQL, MySQLPool, SQL, Maria, Postgre, Microsoft -->
  <!--  Server Protocol: TCP, SOCKET, PIPE, MEMORY -->
  <ServerMain  Enable="True" URL="192.168.2.202" Port="3306" Protocol="TCP" Type="MySQLPool" User1="xwavetest" Passw1="sometest" DBname="thetestscada"/>
  <!-- ServerBackup: Set enable to false to disable the use of a backup server. -->
  <ServerBackup Enable="False" URL="123" Port="3306" Protocol="TCP" Type="MySQLPool" User1="123" Passw1="123" DBname="thetestscada"/>
  <!-- Historics Configuration: Rate is a multiplier between 0 to 1 and its based in the app RealTime cicle. -->
  <!-- Historics Configuration: HistLenght is the amount of records to keep in days. -->
  <HistoricsMaster Enable="True" Rate="1.0" HistLenght="365" URL="192.168.2.202" Port="3306" Protocol="TCP" Type="MySQL" User1="xwavetest" Passw1="sometest" DBname="thetestscada"/>
  <HistoricsBackup Enable="False" Rate="1.0" HistLenght="365" URL="123" Port="3306" Protocol="TCP" Type="MySQL" User1="123" Passw1="123" DBname="thetestscada"/>
</configuration>