<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Sections declarations, any other than startup or appSettings. **Don't Modify** -->
    <section name="GeneralDriver" type="DriverCommApp.Conf.DV.GeneralDriver, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Driver_01" type="DriverCommApp.Conf.DV.DriverConf, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Driver_02" type="DriverCommApp.Conf.DV.DriverConf, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Driver_03" type="DriverCommApp.Conf.DV.DriverConf, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
    <section name="Driver_04" type="DriverCommApp.Conf.DV.DriverConf, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
    <section name="DataArea_01" type="DriverCommApp.Conf.DV.DataAreaConf, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
    <section name="DataArea_02" type="DriverCommApp.Conf.DV.DataAreaConf, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
    <section name="DataArea_03" type="DriverCommApp.Conf.DV.DataAreaConf, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
    <section name="DataArea_04" type="DriverCommApp.Conf.DV.DataAreaConf, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
    <section name="DataArea_05" type="DriverCommApp.Conf.DV.DataAreaConf, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
    <section name="DataArea_06" type="DriverCommApp.Conf.DV.DataAreaConf, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
    <section name="DataArea_07" type="DriverCommApp.Conf.DV.DataAreaConf, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
    <section name="DataArea_08" type="DriverCommApp.Conf.DV.DataAreaConf, DriverComm" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  
  <!-- General Drivers Configuration -->
  <!-- Indicate the number of Drivers and Data Areas in the configuration file; -->
  <!-- indicating less Drivers or Data Areas will cause to read only the first ones; -->
  <!-- and indicating more will cause an Error. -->
  <GeneralDriver CountDrivers="4" CountDataAreas="8" />
  
  <!-- Driver Configuration; each line is a driver configuration -->
  <!-- Type can be: S7_TCP, ModbusTCP, ModbusRTU, AB_Eth, XWave -->
  <!-- PortRTU can be configured from COM1 to COM9, CycleTime is specified in ms -->
  <!-- A Maximum of 30 drivers is allowed. ID=0 is reserved to the system. -->
  <Driver_01 ID="1" Enable="True" CycleTime="400" Type="XWave" Address="192.168.2.51" PortTCP="3000" PortUDP="3001" Timeout="3000" Rack="0" Slot="0" DefFilePath="F:\LocalWorkDir\DriverCommApp\DriverComm\XWave\Development\sysvarcfgtestRig.xml" PortRTU="COM1" RTUid="1" RTUBaud="" RTUParity="" RTUStop=""/>
  <Driver_02 ID="2" Enable="True" CycleTime="200" Type="S7_TCP" Address="192.168.2.100" PortTCP="102" PortUDP="1" Timeout="3000" Rack="0" Slot="1" DefFilePath="" PortRTU="COM1" RTUid="1" RTUBaud="" RTUParity="" RTUStop=""/>
  <Driver_03 ID="3" Enable="False" CycleTime="200" Type="ModbusTCP" Address="192.168.2.101" PortTCP="502" PortUDP="1" Timeout="3000" Rack="0" Slot="0" DefFilePath="" PortRTU="COM1" RTUid="1" RTUBaud="" RTUParity="" RTUStop=""/>
  <Driver_04 ID="4" Enable="True" CycleTime="200" Type="ModbusTCP" Address="192.168.2.22" PortTCP="502" PortUDP="1" Timeout="3000" Rack="0" Slot="0" DefFilePath="" PortRTU="COM1" RTUid="1" RTUBaud="" RTUParity="" RTUStop=""/>
  
   <!-- Data sections for the drivers; link to each driver by the ID_Driver field. -->
   <!-- A Maximun of 20 Data sections per driver is allowed. The XWave driver doesn't requires to configure a Data Area -->
   <!-- An unique numeric ID is required for each Data Area. Indicate Write=True if this section is to be written to the PLC -->
   <!-- Data Type can be: Bool, Byte, Word, DWord, sDWord, Real, String -->
   <!-- The Maximun allowed is 20 Data Areas per driver, and no more than 400 variables in each DataArea. ID=0 is reserved to the system. -->
   <DataArea_01 ID="1" ID_Driver="2" Enable="True" Write="False" ToHist="True" DataType="Bool" DB_Number="550" StartAddr="000" AmountVar="16"/>
   <DataArea_02 ID="2" ID_Driver="2" Enable="True" Write="False" ToHist="True" DataType="DWord" DB_Number="550" StartAddr="122" AmountVar="38"/>
   <DataArea_03 ID="3" ID_Driver="2" Enable="True" Write="False" ToHist="True" DataType="DWord" DB_Number="550" StartAddr="362" AmountVar="30"/>
   <DataArea_04 ID="4" ID_Driver="2" Enable="True" Write="False" ToHist="False" DataType="Real" DB_Number="550" StartAddr="424" AmountVar="19"/>
   <DataArea_05 ID="5" ID_Driver="2" Enable="True" Write="False" ToHist="False" DataType="DWord" DB_Number="550" StartAddr="480" AmountVar="1"/>
   <DataArea_06 ID="6" ID_Driver="3" Enable="False" Write="False" ToHist="False" DataType="Real" DB_Number="1" StartAddr="100" AmountVar="20"/>
   <DataArea_07 ID="7" ID_Driver="4" Enable="True" Write="False" ToHist="True" DataType="DWord" DB_Number="1" StartAddr="000" AmountVar="45"/>
   <DataArea_08 ID="8" ID_Driver="4" Enable="True" Write="False" ToHist="True" DataType="Bool" DB_Number="1" StartAddr="047" AmountVar="240"/>
</configuration>